<!DOCTYPE html>
<html>
<head>

    <title>Thing Counter Using Angular JS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../js/home.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/stylesheet.css">

</head>
  <body style="background-color:#CCD1D1">

<div ng-app="angularApp">
  <div ng-controller="formCtrl">
      <header>
        <h2 class="active">Active Thing Counters</h2>
      </header>
  <form>
      <div ng-hide="Visible">
        <button class="fa fa-plus"id="save2"ng-click="ShowBtn()"></button>
      </div>
        <div class="AddForm">
          <label class="flabel">label</label><br>
          <input name="label" type="text" ng-model="textvalue"> <br>
          <p><span id='display'></span></p>
          <label class="slabel">Select color</label><br>
          <input type="color" name="favcolor" ng-model="cvalue">
          {{cvalue}}
          <!-- <button type="button"id="save" ng-click="Save()">Save</button> -->
          <my-first-script></my-first-script>
       </div>
  </form>
</div>
</div>
</body>
</html>




